@import "../../../scss/mixins";

.description-container {
  position: relative;
  color: var(--website-white-colour);
  font-size: max(0.8rem, 11px);
  overflow: hidden;
}
.temp{
  background-color: #282828;
}

.mask {
  width: 101%;
  height: 100%;

  @include mask-button(
    #1e1e1e,
    var(--mask-image-url),
    2300%,
    100%,
    none,
    var(--website-white-colour)
  );

  &.animate-mask {
    animation: ani 0.7s steps(22) forwards;
  }

  &.reverse-mask {
    animation: ani2 0.7s steps(22) forwards;
  }
}

@keyframes ani {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0 0;
  }
}

.intro {
  color: var(--website-white-colour);
  font-size: 2.5rem;
}

.social-img {
  max-width: 3rem;
  max-height: 3rem;
  margin-right: 1rem;
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.social-img:hover {
  opacity: 1;
}

@media screen and (width < 992px) {
  .photo {
    max-width: 650px;
  }
}

@media screen and (width >= 992px) and (width < 1400px) {
  .intro {
    font-size: 1.75rem;
  }
}

@media screen and (width<361px) {
  .intro {
    font-size: 1.6rem;
  }
}

@media screen and (prefers-reduced-motion) {
  .social-img {
    transition: none;
  }

  .mask {
    background-color: transparent;
  }
}
