.speciality {
  background-image: linear-gradient(to right, #0f0f0f, #000);
  border-radius: 5% / 20%;
  position: relative;
  overflow: hidden;

  .image-svg {
    transform: translateX(20%);
    opacity: 0.3; //temp was 0.6
    position: absolute;
    width: 12rem;
    height: 12rem;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
  }

  &:hover .image-svg {
    transform: scale(1.1) skew(-10deg, 10deg) translateX(20%);
    opacity: 0.4; // temp, was 1
  }
}

.image-svg-static {
  width: 5.5rem;
  height: 5.5rem;
  //
  // min-width: max-content;
  // min-height: max-content;
  position: static;
}

.image-animation {
  width: 5.5rem;
  height: 5.5rem;
  min-width: max-content;
  min-height: max-content;

  &.hover ~ .image-svg {
    transform: scale(1.1) skew(-10deg, 10deg) translateX(20%);
    opacity: 1;
  }
}

.service-name {
  font-size: clamp(0.75rem, 0.2257rem + 2.184vw, 1.5rem);
  color: var(--website-white-colour);
  line-height: 1.75rem;
}

.learn-more {
  font-size: 0.8rem;
  border-style: solid;
  background: none;
  border-color: var(--website-white-colour);
  border-radius: 10% / 40%;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #0f0f0f;
    background-color: var(--website-white-colour);
  }
}

@media screen and (width<992px) {
  .image-animation {
    width: 7rem;
    height: 7rem;
  }

  .image-svg-static {
    width: 7rem;
    height: 7rem;
  }

  .service-name {
    font-size: clamp(0.75rem, 1rem + 2.184vw, 2rem);
    line-height: 2.25rem;
  }

  .learn-more {
    font-size: 1rem;
  }

  .speciality .image-svg {
    width: 14rem;
    height: 14rem;
  }
}

@media screen and (width<576px) {
  .image-animation {
    width: 9rem;
    height: 9rem;
  }

  .image-svg-static {
    width: 9rem;
    height: 9rem;
  }

  .service-name {
    text-wrap: pretty;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .learn-more {
    font-size: 1.3rem;
  }

  .speciality .image-svg {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (prefers-reduced-motion) {
  .speciality .image-svg {
    transition: none;
  }

  .learn-more {
    transition: none;
  }
}
