@import "../../../scss/mixins";

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.footer-container {
  z-index: 20;
  opacity: 0.75;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%) scale(0); // Start off-screen and scaled down
  border-radius: 0.33rem; // Pill shape
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; // Smooth transition

  &.visible-first {
    transform: translate(-50%, 0%) scale(1); // Move to visible position and scale up
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; 
    &:hover {
      opacity: 1;
    }
  }

  &.visible-second {
    transform: translate(-50%, 100%) scale(0);
    transition: transform 0.001s, opacity 0.001s linear; // Different transition properties
    &:hover {
      opacity: 1;
    }
  }
}
.button-container-ff {
  background: black;
  width: 14rem;
  padding: 0;
  position: relative;
  height: 4.16rem;
  border-radius: inherit;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 2.18rem 7.1rem;
    background: conic-gradient(from var(--angle), transparent 70%, white);
    animation: border-animation-angle-control 3.5s linear infinite;
    pointer-events: none; // Allow clicks to pass through
  }

  &::before {
    filter: blur(1.5rem);
    opacity: 0.65;
  }

  .button-ff {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 0;

    @include mask-button(
      linear-gradient(90deg, #000000, #1e1e1e, #000000),
      url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png"),
      7100%,
      100%,
      none,
      var(--website-white-colour)
    );

    cursor: pointer;
    animation: ani2 0.7s steps(70) forwards;

    &.clicked {
      animation: ani 0.7s steps(70) forwards;
    }
  }
}

.mask-ff {
  display: flex;
  position: absolute;
  color: var(--website-white-colour);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.permanent-footer-container{
  background-image: linear-gradient( #0f0f0f,  #282828);
}

.footer-text{
  color: var(--website-white-colour);
}
.temp{
  z-index: 19;
  position: relative;
  transform: translate(0,0) !important;
}

@keyframes border-animation-angle-control {
  // 0% {
  //   --angle: 0deg;
  // }
  // 33% {
  //   --angle: 120deg;
  // }
  // 66% {
  //   --angle: 240deg;
  // }
  // 100% {
  //   --angle: 360deg;
  // }

  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@keyframes ani {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0 0;
  }
}

/* mask bug where border radius and other props causes 
whole button-container-ff to disappear with specific heights 
of button-container-ff */

@media screen and (prefers-reduced-motion) {
  .footer-container {
    transition: none;
  }

  .button-container-ff {
    &::after,
    &::before {
      animation: none;
      background: white;
    }

    .button-ff {
      animation-duration: 0.01s;

      &.clicked {
        animation-duration: 0.01s;
      }
    }
  }
}
