.footer-style {
  color: var(--website-white-colour);
  text-align: right;
}

.designer img {
  margin-right: 1.5rem;
}

.developer img {
  margin-left: 1.5rem;
}

.footer-style img {
  width: 3rem;
  height: 3rem;
  opacity: 0.3;
  transition: opacity 0.5s linear;

  &:hover {
    opacity: 1;
  }
}


.footer-line {
  color: var(--website-white-colour);
}

.ir-image {
  max-width: 8rem;
  max-height: 8rem;
}

.copy-right {
  color: var(--website-white-colour);
  font-size: max(0.5rem, 9px);
}

@media screen and (prefers-reduced-motion) {
  .footer-style img {
    transition: none;
  }
}
