.carousel-container {
  position: relative;
}

.carousel-button {
  border-radius: 0.5rem;
  height: calc(100% - 13.34rem);
  font-size: larger;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0 0 0 / 10%);
  color: var(--website-white-colour);
  opacity: 0;
  border: none;
  z-index: 1;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    scale 0.2s ease-in-out;

  &:hover {
    background-color: rgb(0 0 0 / 40%);
    opacity: 1;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:active {
    scale: 1.1 0.9;
  }
}

.carousel-entries {
  display: flex;
  position: relative;
  overflow-x: clip;
  padding-bottom: 2rem;

  &:hover {
    ~ .carousel-button {
      opacity: 1;
    }
  }
}

.carousel-entry {
  min-height: max-content;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex: 0 0 calc((100% / 3) - 1rem);
  padding: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--website-282828-colour);
  color: var(--website-white-colour);
  border-radius: 0.5rem;
  opacity: 0.7;
  transition: translate 1s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.05, 1.05);
  }

  .quote-icon {
    margin-right: 1rem;
    align-self: flex-end;
    width: 3rem;
  }

  blockquote {
    font-size: 1rem;
    margin: 1rem 0;
    padding-right: 1rem;
  }

  .author-info {
    border-radius: inherit;
    width: 100%;
    display: flex;

    img {
      border-radius: 15%;
      width: 3.67rem;
      height: 3.67rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0;
      font-size: max(0.9rem, 12px);
    }
  }
}

.carousel-pills {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 0.25rem;

  .pill {
    width: 2.2rem;
    height: 0.33rem;
    background: #aaa;
    opacity: 0.5;
    border-radius: 10% / 50%;
    margin: 0 0.21rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      background: var(--website-white-colour);
    }
  }
}

.author-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.25rem;
  background-color: #1e1e1e;
  width: 100%;
  border-top-left-radius: 0.5rem;
}

@media screen and (prefers-reduced-motion) {
  .carousel-button {
    transition: none;
  }
  .carousel-entry {
    transition: none;
  }
  .carousel-pills {
    .pill {
      transition: none;
    }
  }
}

@media screen and (width<992px) {
  .carousel-entries {
    justify-content: center;
    width: 150%;
  }

  .carousel-entry {
    left: 17.5%;
  }

  .container-no-left-padding {
    padding-left: 0;
  }
}

@media screen and (width<576px) {
  .carousel-entry {
    min-height: 20rem;
  }
}

@media screen and (width<440px) {
  .carousel-entries {
    justify-content: center;
    width: 200%;
  }

  .carousel-entry {
    left: 8.5%;
  }
}
