@mixin mask-button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  mask: $url;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

@mixin poppins-semibold {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin poppins-bold {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin transition-effect($transform: none, $delay: 0s) {
  &.hidden {
    opacity: 0.01;
    filter: blur(0.5rem);
    transform: $transform;
  }

  &.visible {
    opacity: 1;
    filter: blur(0);
    transition: all 0.4s ease-in-out $delay;
  }
}


@mixin heading-gradient{
  background-image: linear-gradient(to left, rgb(91 82 82), #f2f2f2);
}

@mixin bento-box-gradient {
  background-image: linear-gradient(to bottom, #333, #232323);
}