@property --primary-color {
  syntax: "<color>";
  initial-value: black;
  inherits: false;
}

.all-clients-container {
  /* 3 slides has to add up to 1320px(for largest viewport). The left and right slides only have exposed 
  440px *0.8scale * 0.4translate =  140.8px. So 3 slides had width = 721.6px. Following, 1320px = x * 721.6px = 1.829
  lastly, 1.829*100 = 182.9/3 = 60.976%   */
  --width-slide-and-player: 60.976%;

  background: radial-gradient(circle, var(--primary-color) 0%, #000 85%);
  transition: --primary-color 0.8s ease-in-out;
}

.slides {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/1;
}

.client-slide {
  position: absolute;
  width: var(--width-slide-and-player);
  aspect-ratio: 1.36/1;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;

  img {
    aspect-ratio: 1.36/1;
    height: 100%;
    border-radius: inherit;
  }

  &.center-slide {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
  }

  &.right-slide {
    transform: translateX(40%) scale(0.8);
    opacity: 0.5;
    z-index: 1;
  }

  &.left-slide {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.5;
    z-index: 1;
  }

  &.hidden-slide {
    opacity: 0;
    z-index: 0;
  }
}

.player {
  margin-inline: auto;
  background-color: #232323;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: var(--width-slide-and-player);

  .song-info {
    .title {
      color: var(--website-white-colour);
      margin-left: 1rem;
    }

    .sub-line {
      display: flex;
      justify-content: space-between;
      margin-top: 0.25rem;

      .time {
        color: var(--website-white-colour);
      }
    }
  }
}

.progress {
  height: 0.35rem;
}

@media screen and (prefers-reduced-motion) {
  .all-clients-container {
    transition: none;
  }

  .client-slide {
    transition: none;
  }
}
