.contact-button {
  background: none;
  color: #f2f2f2;
  padding: 0.5rem 1.5rem;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 2rem;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: #f2f2f2;
    color: black;
    border-color: black;
  }
}

.fixed-top {
  background-color: #1e1e1e;
}
.navbar {
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}
.scrolled {
  box-shadow: 0rem calc(8rem / 24) 0.25rem rgb(0 0 0/70%);
  transition: all 0.4s ease-in-out;
}

.IRLogo {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (prefers-reduced-motion) {
  .contact-button {
    transition: none;
  }
  .navbar {
    transition: none;
  }
  .scrolled{
    transition: none;
  }
}

//stop shaking of navbar elements when scrolled because of box shadow
@media screen and (width<992px) {
  .will-box-shadow {
    will-change: transform;
  }
}
