@import "../../../scss/mixins";

// variables
$smaller-font: 0.8rem;
$padding-more: 1.5rem;
$padding-less: 0.8rem;

@mixin bento-box-gradient {
  background-image: linear-gradient(to bottom, #333, #232323);
}

.ir {
  @include bento-box-gradient;

  color: var(--website-white-colour);
  border-radius: 0.75rem;
}

.transformed {
  writing-mode: vertical-rl;
}

.bento-box {
  --stack-logo-dimension: 65px;
  --animation-speed-bento: 15s;
}

.adobe-img {
  max-width: 3.33rem;
  max-height: 3.33rem;
}

.rc {
  flex: 0 0 100%;
}

// ul{
//   list-style-image: url("../../assets/output-onlinepngtools.png");
// }

@mixin stack-gradient {
  background-image: linear-gradient(
    to right,
    rgb(30 30 30 / 100%) 0%,
    rgb(35 35 35 / 0%) 100%
  );
}

.our-stack-slider {
  // box-shadow: 0 10px 8px -5px rgb(51 51 51 / 100%);

  // max-width:300px;
  overflow: hidden;
  position: relative;

  // &::before,
  // &::after {
  //   @include stack-gradient;

  //   content: "";
  //   height: 65px;
  //   position: absolute;
  //   width: 4rem;
  //   z-index: 2;
  // }

  // &::after {
  //   right: 0;
  //   top: 0;
  //   transform: rotateZ(180deg);
  // }

  // &::before {
  // 	left: 0;
  // 	top: 0;
  // }

  .our-stack-slide-track {
    display: flex;
    justify-content: space-around;
    animation: scroll-bento var(--animation-speed-bento) linear infinite;
    width: calc(var(--stack-logo-dimension) * 5);

    &:hover {
      animation-play-state: paused;
    }
  }
}

.our-stack-slide {
  padding-left: 2rem;
}

@keyframes scroll-bento {
  0% {
    transform: translateX(calc(var(--stack-logo-dimension) * -5 - 2rem * 5));
  }

  100% {
    transform: translateX(0);
  }
}

ul {
  margin: 0;
  padding: 0.5rem 1rem;
}

.poppins-semibold-heading {
  line-height: 3rem;
  margin-top: 1rem;
}

.media-img {
  max-width: 3.125rem;
  max-height: 3.125rem;
  opacity: 0.3;
  transition: opacity 0.5s linear;
}

.media-img:hover {
  opacity: 1;
}

.padding-less {
  padding-top: $padding-less;
  padding-bottom: $padding-less;
}

.padding-ir {
  padding: $padding-less $padding-more;
}

.img-ir {
  width: 100%;
}

.our-stack-logo {
  width: var(--stack-logo-dimension);
  height: var(--stack-logo-dimension);
}

.padding-more {
  padding-top: $padding-more * 1.05;
  padding-bottom: $padding-more * 1.05;
}

.smaller-font {
  font-size: $smaller-font;
}

.top-left {
  @include transition-effect(translateY(-50%));
}

.middle-left-1,
.bottom-left-1 {
  @include transition-effect(translateX(-25%));
}

.middle-left-2,
.bottom-left-2 {
  @include transition-effect(translateX(-25%), 200ms);
}

.middle {
  @include transition-effect;
}

.top-right {
  @include transition-effect(translateY(-50%));
}

.middle-right {
  @include transition-effect(translateX(25%));
}

.bottom-right {
  @include transition-effect(translate(20%, 50%));
}

@media screen and (width >= 1400px) {
  .custom-fb {
    height: 110%;
  }

  .padding-more {
    padding-top: $padding-more * 1.1;
    padding-bottom: $padding-more * 1.1;
  }
}

@media screen and (width >= 1200px) and (width < 1400px) {
  .custom-fb {
    height: 110%;
  }

  .resize {
    font-size: $smaller-font;
  }
}

@media screen and (width >= 992px) and (width < 1200px) {
  .custom-fb {
    height: 115%;
  }
}

@media screen and (width >= 768px) and (width < 992px) {
  .custom-fb {
    height: 100%;
  }

  .poppins-semibold-heading {
    font-size: 2.5rem;
  }

  .text-wrap-adobe {
    word-spacing: 3rem;
  }
}

.text-wrap {
  word-spacing: normal;
}

@media screen and (width >= 768px) and (width < 1400px) {
  .text-wrap {
    word-spacing: 5rem;
  }
}

@media screen and (width >= 992px) and (width < 1400px) {
  .poppins-semibold-heading {
    font-size: 3rem;
  }
}

@media screen and (width >= 576px) and (width < 992px) {
  .smaller-font {
    font-size: $smaller-font * 0.85;
  }

  .custom-fb {
    height: 113.5%;
  }
}

@media screen and (width < 992px) {
  .padding-more {
    padding-top: $padding-more * 0.5;
    padding-bottom: $padding-more * 0.8;
  }

  .poppins-semibold-heading {
    margin-top: 1rem * 0.9;
  }

  .media-img {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }

  .bento-box {
    --stack-logo-dimension: 50px;
  }
}

@media screen and (width < 768px) {
  .padding-ir {
    padding-top: $padding-more;
    padding-bottom: $padding-more;
  }

  .negative-margin {
    margin-left: -2rem;
    margin-right: 0;
  }

  .min-width-img {
    min-width: 55px;
  }
}

@media screen and (width < 576px) {
  .bento-box {
    --stack-logo-dimension: 45px;
  }
}

@media screen and (width<400px) {
  .negative-margin {
    margin-left: -0.6rem;
    margin-right: 0;
  }
}

@media screen and (width<350px) {
  .negative-margin {
    margin-left: 0.6rem;
    margin-right: 0;
  }
}

@media screen and (prefers-reduced-motion) {
  .bento-box {
    --animation-speed-bento: 60s;
  }

  .media-img {
    transition: none;
  }

  :is(
      .top-left,
      .middle-left-1,
      .bottom-left-1,
      .middle-left-2,
      .bottom-left-2,
      .middle,
      .top-right,
      .middle-right,
      .bottom-right
    ).visible {
    transition: none;
  }
}
